langchain-core==1.2.9
langchain-community==0.4.1
langchain-ollama==1.0.1
ollama==0.6.1

PyMuPDF==1.26.7
pymupdf4llm==0.2.9
pypdf==6.6.2
pyquery==2.0.1
regex==2026.1.15

pandas==3.0.0
matplotlib==3.10.8

python-dotenv==1.2.1
tqdm==4.67.3
requests==2.32.5
orjson==3.11.7
dataclasses-json==0.6.7
